/* start mobile version */

.section_formulario {
  box-sizing: border-box;
  width: 100%;
  background-color: #002c89;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  margin-top: 8px;
  padding: 3rem 1.5rem;
}

.item_formulario {
  width: 100%;
}

.item_formulario:nth-child(1) {
  width: 100%;
  text-align: center;
  margin-top: calc(20% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  color: #fff;
}

.item_formulario:nth-child(1) h2{
  width: 100%;
  font-size: 30px;
  margin-bottom: 20px;
}

.item_formulario:nth-child(1) img {
  max-width: 15%;
  display: block;
  position: absolute;
  top: calc(5% - 50px);
  right: 10px;
}

.item_formulario:nth-child(1) h4 {
  color: #05a6e1;
  font-size: 20px;
  margin-bottom: 15px;
  width: 100%;
}

.item_formulario:nth-child(1) p {
  font-size: 16px;
  margin-bottom: 15px;
  width: 100%;
}

.item_formulario:nth-child(1) form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form input {
  width: 90%;
  border: none;
  margin-bottom: 20px;
  padding: 5px 0px;
}

form label {
  color: #fff;
  font-size: 22px;
}

form select {
  margin-bottom: 20px;
  width: 90%;
  padding: 5px 0px;
}

form button {
  display: block;
  width: 30%;
  text-align: center;
  padding: 15px;
  background: #05a6e1;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}


#contacto {
  display: none;
}

.btn-contacto {
  width: 100%;
  margin-top: 80px;
}

/* start 376px */
@media (min-width: 376px) {
  
}

/* start tablets */
@media (min-width: 480px) {

}

/* start desktop */
@media (min-width: 767px) {

  .section_formulario {
    box-sizing: border-box;
    width: 100%;
    height: 150%;
    background-color: #002c89;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    margin-top: 0;
    padding: 1rem 1.5rem 8rem 1.5rem;
  }

  .item_formulario:nth-child(1) {
    text-align: left;
  }

  .item_formulario:nth-child(1) img {
    width: 20%;
  }
  
  .item_formulario:nth-child(1) h2{
    width: 100%;
    font-size: 55px;
    margin-bottom: 20px;
  }

  .item_formulario:nth-child(1) h4 {
    color: #05a6e1;
    font-size: 25px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .item_formulario:nth-child(1) p {
    font-size: 25px;
    margin-bottom: 15px;
    width: 100%;
  }

  .item_formulario:nth-child(1) form {
    width: 100%;
    justify-content: start;
    align-items: start;
  }

  #contacto {
    display: flex;
    justify-content: right;
  }

  #contacto img {
    height: 100%;
    width: 60%;
    object-fit: contain;
  }

  .btn-contacto {
    position: absolute;
    bottom: 60px;
    right: 20px;
    max-width: 60%;
  }



}