/* start mobile version */


.mapa {
  width: 100%;
  background-color: #0c4179;
  padding: 30px 0;
}

.mapa > h2 {
  font-size: 22px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

.mapa p {
  text-align: center;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin: 10px auto;
}

.container_ubiacion {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 300px);
  gap: 30px;
  width: 90%;
  margin: auto;
}

.item_ubicacion iframe{
  height: 100%;
  width: 100%;
}

/* .item_mapa:nth-child(1) {
  position: relative;
  overflow: hidden;
}

.item_mapa:nth-child(1) iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
}

.item_mapa:nth-child(1) {
  position: relative;
  overflow: hidden;
  padding-top: 200.25%;
}

.item_mapa:nth-child(2) {
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px auto 10px auto;
  grid-gap: 20px;
} */

/* start 376px */
@media (min-width: 376px) {
  
}

/* start tablets */
@media (min-width: 480px) {

}

/* start desktop */
@media (min-width: 767px) {

  .mapa {
    padding: 30px 0;
  }

  .mapa > h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
  }
  
  .mapa p {
    text-align: center;
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
    margin: 20px auto;
  }  

  .container_ubiacion {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
  }


}